@import "../../styles/variables";

.side-drawer {
  flex: 0 0 200px;
  min-width: 200px;
}

.side-drawer-items {
  li {
    cursor: pointer;
    padding: 0.6rem;
    color: $gray-500;
    margin: 0.3rem 1.4rem;
    border-radius: 0.3rem;
    background-color: transparent;
    border: 1px solid transparent;
    transition: $anim-25;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    -webkit-transition: $anim-25;
    -moz-transition: $anim-25;
    -ms-transition: $anim-25;
    -o-transition: $anim-25;

    &:hover {
      color: $white;
      background-color: $primary-text;
      border: 1px solid $primary-text;
    }
  }
}

.navigation--active {
  color: $white;
  background-color: $primary-text;
  border: 1px solid $primary-text;
}

.side-drawer-items--active {
  color: $primary-text;
  font-weight: 600;
}

.slider-btn--disabled {
  pointer-events: none;
  .crete-slider {
    background-color: #e9e9e9;
    color: #bbb;
    border: none;
  }
}
